<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isaacsmith.tba" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Options"
            android:label="@string/title_activity_options"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.isaacsmith.tba.MenuActivity" />
        </activity>
        <activity
            android:name=".HighScores"
            android:label="@string/title_activity_high_scores" >
        </activity>
        <activity
            android:name=".GameStart"
            android:label="@string/title_activity_game_start" >
        </activity>
        <activity
            android:name=".DifficultySet"
            android:label="@string/title_activity_difficulty_set" >
        </activity>
        <activity
            android:name=".ChooseGame"
            android:label="@string/title_activity_choose_game" >
        </activity>
        <activity
            android:name=".TimeAttack"
            android:label="@string/title_activity_time_attack" >
        </activity>
    </application>

</manifest>
